.env
backend/.env
admin/admin-login/.env
data/*
!data/.gitkeep
server/uploads/*
!server/uploads/products/
!server/uploads/categories/
!server/uploads/users/
!server/uploads/reviews/
!server/uploads/temp/
server/uploads/products/*
!server/uploads/products/.gitkeep
server/uploads/categories/*
!server/uploads/categories/.gitkeep
server/uploads/users/*
!server/uploads/users/.gitkeep
server/uploads/reviews/*
!server/uploads/reviews/.gitkeep
server/uploads/temp/*
!server/uploads/temp/.gitkeep
logs/*
!logs/.gitkeep
